{% include 'homepage/temp.html' %}

<style>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    background: #272727;
    font-family: "Montserrat", sans-serif;
  }

  .center{
 text-align:center ;

  }
  img{

    width:60vw ;
  }

</style>

<div class="body-text">
   <div class ="center" >
  <img src="https://c0.wallpaperflare.com/preview/431/96/29/backgrounds.jpg" alt="justice"  >
   </div>
</div> 









